.shadow-light-lg {
    box-shadow: $box-shadow-light-lg !important;
}

.shadow-small-soft {
    box-shadow: $box-shadow-small-soft !important;
}

.shadow-dark-lg {
    box-shadow: $box-shadow-dark-lg !important;
}