@font-face {
    font-family: "Microsoft Yahei";
    font-weight: 400;
    src: url("#{$path-to-fonts}/chinese.msyh.ttf") format("ttf"),
    url("#{$path-to-fonts}/chinese.msyh.ttf") format("ttf");
}

// 12px
.font-size-sm {
    font-size: $font-size-sm;
}

// 14px
.font-size-sx {
    font-size: $font-size-sx;
}


h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    letter-spacing: $headings-letter-spacing;
}

h3,
.h3 {
    margin-bottom: 1rem;
    line-height: $line-height-base;

    @include media-breakpoint-down(md) {
        font-size: $font-size-xl;
    }
}

h4,
.h4 {
    margin-bottom: 1rem;
    line-height: $line-height-base;

    @include media-breakpoint-down(md) {
        font-size: $font-size-lg;
    }
}